  .flow-diagram {
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }
  
  .flow-diagram text {
    font-size: 12px;
    fill: black;
    pointer-events: none;
  }

  .diagram-wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
  }