.dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .side-panel {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  }
  