.dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .diagram-panel {
    flex: 7; 
    background-color: #ddd; 
    position: relative;
  }

  .graph-panel {
    flex: 3; 
    background-color: #f9f9f9;
    overflow-y: auto;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* prevents scrolling */
    font-family: sans-serif;
  }
  
  